/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# Default ignored files
/shelf/
/workspace.xml
# DevEco 自动生成的编译/缓存文件夹（核心忽略项）
build/
out/
.gradle/
.idea/

# 日志文件（体积大，无意义）
*.log
crash_server.log
Emulator.log

# 本地配置文件（无需同步到 GitHub）
local.properties

# IDE 配置文件
*.iml
.idea_modules/

# 大媒体文件（如果有，按需加）
# *.png
# *.jpg
# *.svg
.gitignore
